body {
    background-color: #000000;
    background-image: url("../picts/background-outer.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    margin: 0px;
    padding: 0px;
    border: #FFFFFF 0px solid;
}

/* ACCESSIBILITY UTILITIES */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: 8px;
    z-index: 9999;
    padding: 10px 12px;
    background: #000000;
    color: #FFFFFF;
    border: 2px solid #FF3366;
}

.skip-link:focus,
.skip-link:focus-visible {
    left: 8px;
}




/* DEFAULTS - ALIGNMENT, SPACING, MARGINS, PADDING */

p {
    margin-top: 0;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
}

img {
    border: 0;
}

.rimage {
    max-width: 100%;
    height: auto;
}

.blockimage {
    display: block;
}

.just {
    text-align: justify;
}

.td-right {
    text-align: right;
}

.td-left {
    text-align: left;
}

.td-center {
    text-align: center;
}

.td-middle {
    vertical-align: middle;
}

.td-top {
    vertical-align: top;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.right-div {
    margin-left: auto;
    margin-right: 0;
}

.left-div {
    margin-left: 0;
    margin-right: auto;
}

.padB-10 {
    padding-bottom: 10px;
}

.padT-10 {
    padding-top: 10px;
}

.formmargin {
    margin: 0px;
}

.description-heading {
    margin-bottom: 0;
}




/* NON-MENU LINKS */

a:link,
a:visited,
a:active {
    color: #E8E3C4;
    text-decoration: none;
}

a:hover {
    color: #FF3366;
    text-decoration: none;
}




/* THE NEXT LINE CONTROLS THE FONT SIZE ON ALL PAGES */

body {
    color: #E6E1E1;
    font: normal 17px arial, sans-serif;
    line-height: 150%;
}

.title {
    color: #F9ECEC;
    font: normal 22px arial, sans-serif;
    line-height: normal;
}

.subtitle {
    color: #F9ECEC;
    font: bold 16px arial, sans-serif;
    line-height: normal;
}

.smalltitle {
    color: #F9ECEC;
    font: bold 17px arial, sans-serif;
    line-height: normal;
}

.colortitle {
    color: #F9ECEC;
    font: bold 19px "Trebuchet MS", arial, sans-serif;
    line-height: normal;
}

.testimonial {
    color: #66FF33;
    font-size: .90em;
    font-weight: bold;
    line-height: normal;
    font-style: italic;
}

.smalltext {
    color: #B7A99A;
    font: normal 15px arial, sans-serif;
    line-height: normal;
}

.hilite {
    color: #FF5144;
    font-weight: bold;
}

.collection {
    width: 76%;
}

.intro {
    font-size: 20px;
}

.resources {
    font-weight: bold;
}

ul.collection li {
    margin-top: 20px !important;
}




/* REMOVES MARGINS ON HEADING TAGS (FOR SEO) */

h1,
h2,
h3,
h4 {
    margin: 0px 0px 10px 0px;
}




/* WIDTHS HEIGHTS AND ALIGNMENT */

.pageheight {
    min-height: 900px;
}

.pagewidth {
    max-width: 1250px;
}

#outerdiv {
    width: 100%;
    margin: auto;
}

#wrapper {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 0px solid #000000;
    border-width: 0px 0px 0px 0px;
}

#contentdiv {
    max-width: 100%;
    margin-right: 292px;
}

#maincontent {
    text-align: left;
    float: left;
    width: 100%;
}

.content-pad {
    padding: 20px 20px 20px 20px;
}

.divclear {
    height: 0px;
    clear: both;
    font-size: 1px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}

#contentdiv-nosidebar {
    max-width: 100%;
}




/* TEXT AND GRAPHIC HEADER CODE */

#headerdiv {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: #000000 0px solid;
    border-bottom: #000000 0px solid;
    background-image: url("../picts/header-background.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headercolor {
    background-color: #000000;
}

.logo-respond {
    width: 100%;
    max-width: 600px;
    height: 75px;
    margin: 0 auto 0 0;
    /* THIS CODE ALIGNS LOGO */
    display: block;
}

/* TEXT LOGO */

.text-logo-box {
    padding: 24px 8px 24px 8px;
}

.logo {
    color: #FFFFFF;
    font: normal 30px arial, sans-serif;
}

.logo2 {
    color: #7B89A6;
    font: normal 30px arial, sans-serif;
}




/* SOCIAL ICONS */

.soc-box {
    position: absolute;
    top: 27px;
    right: 15px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.soc-box table {
    margin: 0 auto;
}

.socialspace {
    padding-left: 1px;
    padding-right: 2px;
}

.socialicon {
    width: 25px;
    height: auto;
    border: #FFFFFF 0px solid;
    display: block;
}

.socialicon:hover {
    border: #FFFFFF 0px solid;
}




/* FOOTER */

#footerdiv {
    color: #FFFFFF;
    font: normal 13px arial, sans-serif;
    text-align: center;
    background-color: transparent;
    background-image: url("../picts/background-footer.jpg");
    background-repeat: repeat;
    padding: 35px 8px 35px 8px;
    border-top: #CC0000 1px solid;
}

#footerdiv a:link,
#footerdiv a:visited,
#footerdiv a:active {
    color: #57BDFF;
    text-decoration: none;
}

#footerdiv a:hover {
    color: #FF3366;
    text-decoration: underline;
}






/* BORDERS AND BARS */

.page-splits {
    font-size: 1px;
    line-height: 0px;
    height: 1px;
    background-color: transparent;
    /* 5 COLOR GRADIENT */
    background-image: linear-gradient(to right, transparent, #3E4153, #3E4153, #3E4153, transparent);
    margin: 12px 0px 12px 0px;
    padding: 0px;
    border: #999999 0px solid;
}

.splits-xtramargin {
    margin-top: 30px;
    margin-bottom: 30px;
}




/* IMAGE BORDERS AND SPACING */

.img-borders {
    border: #66697E 1px solid;
    margin: 2px 2px 2px 2px;
}

.img-space {
    float: left;
    margin-right: 12px;
    margin-bottom: 1px;
}

.HoverBorder {
    border: #999999 0px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* ZOOM */
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    /* FADE UP */
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease;
}

img.HoverBorder:hover {
    border: #FF0000 0px solid;
    cursor: pointer;
    /* ZOOM */
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    transform: scale(1.20);
}




/* TOP MAIN IMAGE */

.image-bar {
    max-width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    margin: 0px;
    /* DROP SHADOW */
    -moz-box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.0);
}

.main-image {
    width: 100%;
    min-width: 200px;
    height: auto;
    display: block;
    margin: 0px auto 0px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 1px;
    /* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
}




/* LIST CODE - ABOUT PAGE */

.list {
    color: #FF0000;
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.floatlist {
    float: left;
    width: 50%;
    min-width: 200px;
}

.list li {
    text-indent: 1px;
}

.list li span {
    color: #FFFFFF;
    font-weight: normal;
}




/* RIGHT SIDEBAR */

#sidebar {
    width: 250px;
    margin-right: -292px;
    /* WORKS WITH #contentdiv 292 ABOVE */
    float: right;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border-left: #3E4153 1px solid;
}

.sidebarL {
    width: 52px;
    padding: 15px 6px 15px 6px;
}

.sidebarR {
    padding: 15px 4px 15px 4px;
}

.side-borders {
    border: #66697E 1px solid;
    margin: 0px 0px 0px 0px;
}

.sidebar-topics {
    background-color: transparent;
    background-image: url("../picts/background-topics.jpg");
    background-repeat: repeat;
    border-top: #FF0000 1px solid;
    border-bottom: #FF0000 1px solid;
    margin: 13px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
}

.sidebar-text {
    color: #AAB4C8;
    font: normal 14px arial, sans-serif;
    line-height: 140%;
    width: 100%;
}




/* SMALL CALENDAR */

.calendar {
    width: 100%;
    background-color: #000000;
    border: #999999 0px solid;
}

.calendarinner {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
}

.calspace {
    padding: 0px;
}

.calendartitle {
    color: #FFFFFF;
    font: bold 18px "Trebuchet MS", arial, sans-serif;
    background-color: transparent;
    padding: 3px;
}

.caldays {
    width: 14%;
    height: 32px;
    background-color: #000000;
    color: #FFFFFF;
    font: normal 16px "Trebuchet MS", arial, sans-serif;
    border-right: #000000 1px solid;
    border-bottom: #000000 0px solid;
}

.calday {
    width: 14%;
    background-color: #000000;
    color: #FF0000;
    font: normal 15px "Trebuchet MS", arial, sans-serif;
    border-right: #000000 1px solid;
    border-bottom: #000000 0px solid;
}

.caldates {
    height: 32px;
    background-color: #111111;
    color: #999999;
    font: normal 15px "Trebuchet MS", arial, sans-serif;
    border: #333333 1px solid;
}

.calhilite {
    background-color: #CC0000;
    color: #FFFFFF;
    font: normal 15px "Trebuchet MS", arial, sans-serif;
    border: #FF0066 1px solid;
}




/* stamps PAGE */

.product-image-box {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: left;
    padding-right: 30px;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
}

.product-details {
    min-width: 300px;
    text-align: left;
    overflow: hidden;
    padding: 10px 0px 0px 0px;
    color: white;
}

.product-title {
    color: #FFFFFF;
    font: 20px arial, sans-serif;
    font-weight: bold;
    line-height: normal;
}

.product-box {
    padding: 0px;
    margin: 0px auto 0px auto;
    background-color: transparent;
    border: solid #A4AC8F;
    border-width: 0px 0px 0px 0px;
    /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}




/* SHOPPING CART CODE */

.price {
    font-size: 1.0em;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
}

.price span {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #FF0000 1px solid;
}

.formmargin-cart {
    margin: 15px 0px 0px 0px;
}

.cartdrop {
    font: 14px arial, sans-serif;
    color: #000000;
    width: 170px;
    margin-top: 1px;
    margin-bottom: 4px;
}

input[type=submit].button-order {
    color: #FFFFFF;
    font: normal 19px arial, sans-serif;
    text-align: center;
    background-color: #CC0033;
    background-image: url("../picts/button-order.png");
    background-repeat: no-repeat;
    padding: 10px 3px 9px 3px;
    margin: 4px 0px 2px 0px;
    cursor: pointer;
    width: 170px;
    /* -webkit-appearance: none; */
    border: #999999 0px solid;
    /* CORNER ROUNDING */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

input[type=submit].button-order:hover {
    color: #FFFFFF;
    background-color: #3333CC;
    border: #999999 0px solid;
}

/* VIEW CART CODE */

.view-cart-box {
    background-color: #000000;
    text-align: left;
    padding: 5px 6px 6px 6px;
    width: 100px;
}

.formmargin-view {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.paypal-icon {
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 4px 0px 0px;
}

input[type=submit].button-view-cart {
    width: 140px;
    margin: 7px 0px 0px 0px;
}





/* CONTACT PAGE CODE */

.contact-select {
    color: #B7A99A;
    font-weight: normal;
}

.contact-select {
    border: 0;
    margin: 0;
    padding: 0;
}

.contact-select legend {
    padding: 0;
    margin: 0 0 6px 0;
    font-weight: bold;
}

.contactform {
    margin: 0px 0px 10px 50px;
}

.shadeform {
    font: 16px arial, sans-serif;
    color: #000000;
    background-color: #B4C1D9;
    background-image: url("../picts/shadeform.png");
    text-align: left;
    width: 100%;
    max-width: 300px;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #999999 1px solid;
}

.textarea {
    font: 16px arial, sans-serif;
    background-color: #B4C1D9;
    color: #000000;
    background-image: url("../picts/shadeform.png");
    text-align: left;
    width: 100%;
    max-width: 350px;
    height: 150px;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #999999 1px solid;
}

.dropdown {
    font: 15px arial, sans-serif;
    background-color: #B4C1D9;
    color: #000000;
    width: 100%;
    max-width: 300px;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type=submit].submitbutton,
input[type=reset].submitbutton {
    color: #FFFFFF;
    font: bold 17px arial, sans-serif;
    text-align: center;
    background-color: #000000;
    /* -webkit-appearance: none; */
    padding: 9px 8px 9px 8px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 135px;
    border: #CC0000 1px solid;
    /* CORNER ROUNDING */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

input[type=submit].submitbutton:hover,
input[type=reset].submitbutton:hover {
    color: #FFFFFF;
    background-color: #CC0000;
    border: #CC0000 1px solid;
}




/* LINKS PAGE */

.linksmargin {
    margin: 0px;
    margin-top: 10px;
}

table.searchtable td {
    vertical-align: middle;
    padding: 3px 1px 3px 2px;
}

.searchterms {
    font: 15px arial, sans-serif;
    background-color: #F4F5F9;
    background-image: url("picts/shadeform.png");
    color: #000000;
    width: 125px;
    padding: 2px;
    border: #999999 1px solid;
}

.searchbutton {
    color: #FFFFFF;
    font: normal 12px arial, sans-serif;
    text-align: center;
    background-color: #333333;
    padding: 3px 4px 3px 4px;
    margin: 0px;
    margin-left: 2px;
    cursor: pointer;
    border: #FF0000 1px solid;
}




/* GOOGLE ADSENSE */

.google-ad-sidebar {
    width: 250px;
    margin: 0px auto 25px auto;
}

/* BLANK AD CODE */

.ad-blank-250 {
    line-height: 250px;
    color: #FFFFFF;
    background-color: #777777;
    text-align: center;
}




/* HIDE MENU AND ITEMS FOR PRINTING */


@media print {
    .printhide {
        display: none;
    }

    .printhelp {
        width: 600px;
    }
}

@media screen {
    .printonly {
        display: none;
    }
}




/* START THE CODE FOR THE MENU */

#menudiv a:focus-visible,
#mobile-menu-icon:focus-visible,
.scrollToTop:focus-visible {
    outline: 2px solid #FF3366;
    outline-offset: 2px;
}

#menudiv {
    background-color: #000000;
    background-image: url("../picts/menu-background.png");
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px auto;
    border: #000000 solid;
    border-width: 0px 0px 0px 0px;
}

/* MENU WIDTH, PADDING, FONT FACE & COLOR */

#menusub a {
    color: #FFFFFF;
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    padding: 19px 15px 19px 15px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    border: #000000 solid;
    border-width: 0px 1px 0px 0px;
    /* MENU FADE UP */
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s;
    /* *display:inline;	For IE */
    /* *zoom:1;		For IE */
}


/* BORDERS FIRST MENU LINK */

#menusub a:first-child {
    border-width: 0px 1px 0px 1px;
}


/* MENU HOVER COLORS */

#menusub a:hover {
    color: #FFFFFF;
    background-color: #CC0000;
    text-decoration: none;
}


/* FOR BOTTOM MENU */

.menu-footer {
    display: block;
    border-top: 0px #666666 solid;
}


/* MOBILE MENU ICON - SEE ALSO media-queries.css FOR MORE MOBILE COLORS AND FONTS!! */

#mobile-menu-icon {
    cursor: pointer;
    display: none;
    text-align: center;
    padding: 5px 0px 5px 5px;
    background: transparent;
    border: 0;
}

.menu-icon-img {
    display: block;
    margin: 0px auto 0px 0px;
}




/* RIGHT SCROLL TO TOP ARROW */

.scrollToTop {
    width: 36px;
    height: 36px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    display: none;
    border: #CC0000 1px solid;
    background: #000000 url('../picts/arrow-up-white.png') no-repeat 0px 0px;
}

.scrollToTop:hover {
    text-decoration: none;
    border: #CC0000 1px solid;
    background: #CC0000 url('../picts/arrow-up-white.png') no-repeat 0px 0px;
}



/* PAGINATION */
.content {
    margin: 20px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #ffffff;
    border-radius: 1px;
    border: none;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pagination button.active {
    background-color: #494a4f;
    color: white;
}

/* PAYPAL */
.item-header {
    display: flex !important;
    text-align: left;
    align-items: normal;
    color: #E6E1E1 !important;
    font-family: "copperplate gothic light";
    font-size: 24px !important;
    font-weight: bold;
}

.item-header .item-title {
    font-size: 16px;
    white-space: pre;
    color: #ffe888;
}

.item-header .price-container {
    display: block !important;
    text-align: left !important;
    color: #ff9100;
    font-family: "copperplate gothic light";
    font-size: 16px !important;
}

p.item-description {
    color: #E6E1E1;
    font-family: "Lucida sans";
    text-align: left;
}

img.hero-img {
    width: 300px !important;
}

div.thumbnail-container {
    justify-content: center !important;
}